Source: check-ups-apc.py
Section: python
Priority: optional
Maintainer: Lukas Schauer <debian@cygnusnetworks.de>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >=2.7

Package: check-ups-apc.py
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: APC UPS Nagios check
 Nagios/Icinga Plugin for APC UPS systems using SNMP to query the device.%

