Source: check-ups-apc.py
Section: python
Priority: optional
Maintainer: Lukas Schauer <l.schauer@cygnusnetworks.de>
Build-Depends: debhelper (>= 9), python-all, python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >=2.7

Package: check-ups-apc.py
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: APC UPS Nagios check
 Nagios/Icinga Plugin for APC UPS systems using SNMP to query the device.%

